body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,a{
    margin: 0;
    padding: 0;
    list-style: none;

}
img{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    background: #E9EAED;
    line-height: 1.5;
    overflow-x: hidden
}
a{
    text-decoration: none;

    color: #fff;

}
/*头部的设计*/
.nav a:hover{
    color:#00c1de ;
}
h1{
    display: inline-block;/*有空格会有间隙，使用浮动*/
}

.header{
    height: 60px;
    width: 100%;
    background: black;

}
.header::before {
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
.headerBox{
    height: 100%;
    width: 1200px;

    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
}
.nav li{
    float: left;
    margin-right:  35px;
}
.headerBox h1{
    height: 100%;

    float: left;
    font-size: 26px;
    font-weight: normal;
    margin-right: 75px;
}
.search{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
    float:right;
}

/*中间一块*/
.article{
    width: 1200px;
    margin:20px auto ;
    border-radius: 5px;
    padding: 20px 40px;
    box-sizing: border-box;
    height: 350px;
    background: url("meng2.jpg")no-repeat right top #fff;
}
.article .jieshao{
    display: flex;
}
.article .jieshao i{
    width: 100px;
    height: 100px;
}
.article .jieshao i img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.article .jieshao .right{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.article .jieshao .right h3{
    font-size: 18px;
}
.article .jieshao .right p{
    color: #666666;
    font-size: 15px;
    line-height: 1.5;
}
.dubai{
    margin: 20px 0;
    font-size: 18px;
    width: 120px;
    clear: both;
    background-size: 40px;
    border-bottom: #000 1px dashed;
    padding-left: 10px;
    padding-bottom: 5px;
    display: inline-block;
}
/*底下的*/
.shengming{
    display: block;
    background: #373d41;
    height: 120px;
    padding: 40px 0;
    border-top: #00c1de 10px solid ;
}
.neirong{
    display: block;
    height: 120px;
    padding: 0 300px;
}
.neirong a{
    display: block;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 30px;
}
.dongxi{
    display: block;
}
.dongxi h3{
    font-weight: bold;
    color: #00c1de;
}
.dongxi p{
    color: #73777a;

}