@import "base.css";

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,a{
    margin: 0;
    padding: 0;
    list-style: none;

}
img{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    background: #e9eaed;

}
a{
    text-decoration: none;

    color: #fff;

}
.nav a:hover{
   color:#00c1de ;
}
h1{
    display: inline-block;/*有空格会有间隙，使用浮动*/
}

/*头部的设计*/
.header{
    height: 60px;
    width: 100%;
    background: black;

}
.header::before {
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
.headerBox{
    height: 100%;
    width: 1200px;

    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
}
.nav li{
  float: left;
    margin-right:  35px;
}
.banner{
    height: 280px;
    width: 1240px;
    background: #e9eaed;
    margin: 20px auto;
}

.headerBox h1{
    height: 100%;

    float: left;
    font-size: 26px;
    font-weight: normal;
    margin-right: 75px;
}
.search{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
    float:right;

}

.nav{
    width: 800px;
    height: 100%;

    float: left;
}
/*第二个内部*/

.left{
    width:620px;
    height: 100%;
    background: navajowhite;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    position: relative;
}
.left li img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
}
.left li a{
    width: 100%;
    height: 280px;;
    display: block;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;

}
.leftbutton,.rightbutton{
    width: 40px;
    height: 32px;
    background: #046b80;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.leftbutton{
    left: 50px;
}
.rightbutton{
    right: 50px;
}
.btnlist{
    width: 96px;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 36px;

}
.btnlist li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
    display: block;
    float: left;
    margin-right: 14px;
    cursor: pointer;
}
.mid{
    width: 274px;
    height: 100%;
    background: #e9eaed;
    float: left;
    border-radius: 15px;
    position: relative;
}
.mid p{
    position: absolute;
    top: 48px;
    left:63px;
    display: block;
    width: 50%;
}
.mid li{

    height: 48%;
    background: slateblue;
    margin-bottom: 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.mid  li p{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    text-align:center;
}
.mid li img{
     width: 100%;
    height: 100%;
 display: block;
    opacity: .6;
}
.mid li a img{
    transition:transfrom 0.6s ease-in;

}
.mid li a:hover img{
transform: scale(1.2, 1.2);
    opacity: 1;

}
.right{
    width:284px;
    height: 100%;
    background:#2a2a2a;
    float: right;
    border-radius: 15px;
}
.right h3{font-size: 22px;
    margin: 10px;
    color: #89919a;
    font-weight: normal;
    padding-bottom: 10px;
}
.right p{
    font-size: 12px;
    padding: 0 0 0 20px;
    line-height: 28px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: #d0d2d4;
}
.right li a:hover img{
    opacity: 0.6;
}
.linkmore li{
    display:block ;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 5px;
    padding: 20px 3px;
}
/* 第三个内部的*/
.diary{
    height: 270px;
    width: 1250px;
    background: #e9eaed;
    margin: 20px auto 20px;
    padding: 20px;
}
.dleft{
    width:940px;
    height: 100%;
    background: #fff;
    float: left;
    border-radius: 10px;
}
.diarylist{
    height:40px;
    width: 100%;
    border-bottom:1px solid #e4e3e3 ;
   background: #fff;
}
.diarylist li{
    position: relative;
}
.diarylist  .yi:before{
    width: 80px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
}
.diarylist a{
    color: #000;
}
.tab{
    width: 100%;
   height: 230px;
    background: #fff;
    margin: 10px 0;
}

.tabimg{
    width: 275px;
    height: 100%;
    float: left;
    margin: 0 20px;

}
.tabimg li{
    width: 100%;
   height:100px;
   margin: 10px;
    overflow: hidden;
    position: relative;
}
.tabimg li p{
    position: absolute;
    left: 73px;
    top: 25px;
    width: 50%;

}
.tabimg li:hover img{
    transform: scale(1.1,1.1);
}

.tabtext{
    width: 490px;
    height: 100%;
    /*background: darkkhaki;*/
    float: left;
    margin:0 20px;
    padding: 0 30px 0 20px;
}
.tabtext li {
    height: auto;
    padding: 0 30px 0 20px;
    /*background: #b1b1b1;*/

}
.tabtext li h1 {
    font-size: 16px;
    color: #333333;
    height: 35px;
}
.tabtext li p{
    font-size: 16px;
    line-height: 1.5;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
   overflow: hidden;
    display: none;
}
.tabtext li a{
    font-size: 16px;
    color: #333333;
}

.tabtext span{
    background: #9a9a9a;
    height: 24px;
    width: 20px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.tabtext .hot  a{
    color: #000000;
}
.tabtext .hot a span{
    background: #000;
}
.tabtext .hot p{
    display: -webkit-box;
}
.hot{
    background: #e9eaed;
}
.diarylist li{
    float: left;
    margin-right: 25px;
    padding: 10px;
}
.dright{
    width:244px;
    padding: 0 20px;
    float: right;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}
.dright h1{
    height: 40px;
    font-size: 16px;
    font-weight:normal;
    line-height: 41px;
    display:block;
    border-bottom: 1px solid #e4e3e3;
    position: relative;
}
.dright h1:before{
    width: 60px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
    transition: all .5s ease;
}
h1:hover:before{
    width: 80px;
}
/**/
.rightpicture{
    width: 200px;
    height: 100px;
    display: block;
    float: right;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}
.rightp{
    position: absolute;
    width: 150px;
    top: 31px;
    left:30px;
    display: block;
    text-align: center;

}

.rightcontext{
    display: block;
    color: #000;
    width: 100%;
}
.dright ul{
    padding-top: 16px;
    padding-bottom: 12px;
    overflow: hidden;
}
.dright .rightfrist li{
    height: 38px;
    margin: 12px ;
    font-size: 15px;
    background: #f6f6f6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 38px;
    position: relative;
    display: block;
    padding: 0px 20px;
}
.dright li a{
    color: #333333;
    font-size: 12px;

}
.dright .rightfrist li::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    left: 15px;
    top: 20px
}
.rightcontext li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #f6f6f6;
    position: relative;
}

.rightcontext i{
    display: block;
    width: 16px;
    height: 16px;
background: #ff6600;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    position: relative;
    font-style: normal;
}
.rightcontext i::before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #fff;
    line-height: 16px;
    width: 16px;
    text-align: center;
}

.rightcontext li:first-child i::before{
    content: "1";
}
.rightcontext li:last-child i::before{
    background: #b1b1b1;
    content: "7";
}
.rightcontext li:nth-child(2) i::before{
    content: "2";
}
.rightcontext  li .three1::before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #ffffff;
    line-height: 16px;
    width: 16px;
    text-align: center;
    content: "3";
}
.rightcontext  li .four::before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #ffffff;
    line-height: 16px;
    width: 16px;
    text-align: center;
    content: "4";
    background: #b1b1b1;
}
.rightcontext  li .five::before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #ffffff;
    line-height: 16px;
    width: 16px;
    text-align: center;
    content: "5";
    background: #b1b1b1;
}
.rightcontext  li .six::before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #ffffff;
    line-height: 16px;
    width: 16px;
    text-align: center;
    content: "6";
    background: #b1b1b1;
}




.rightcontext i{
    display: block;
}

.tuijian{
    display: block;
    float: left;
}
.tuijian i{
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    background: #b752dc;
}
.tuijian li p {
    margin-top: 10px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
}
.tuijian li{
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
}
.drightpic{
    margin: 20px 0px;
    float: right;
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.message a{
    color: #333333;
}
.message li{

    font-size: 13px;
    line-height: 1.5;
    position: relative;
    display: block;
    padding: 0px 20px;
}
.like li::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    left: 4px;
    top: 9px;

}
.message{
    display: block;
    width:244px;
    padding: 0 20px 10px;
    float: right;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.message b{

    display: block;
    float: left;
}
.message a{

}
.message li{
    margin-top: 10px;
    margin-bottom: 8px;
}
.message h1{
    height: 40px;
    font-size: 16px;
    font-weight:normal;
    line-height: 41px;
    display:block;
    border-bottom: 1px solid #e4e3e3;
    position: relative;
}
.message h1:before{
    width: 60px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
    transition: all 0.5s ease;
}
.message h1:hover:before{
    width: 80px;
}
.laji{
    display: block;
    float: right;
}
.link{
    display: block;
    float: right;
}
.link h1{
    height: 40px;
    font-size: 16px;
    font-weight:normal;
    line-height: 41px;
    display:block;
    border-bottom: 1px solid #e4e3e3;
}
.erweima{
    width: 193px;
    height: 193px;
    margin: auto;
}
/*  第四部分*/
/*900 690*/
.threebig{
    width: 1250px;
    height: auto;
    min-height: 600px;
    background: #e9eaed;
    margin: auto;
    overflow: hidden;
}
.three{
    width: 920px;
margin-top: 20px;
  overflow: hidden;
     float: left;
    padding-bottom: 2px;
    background: #fff;
    margin-bottom: 20px;
padding-left: 20px;
    border-radius: 5px;
}
/*630 55*/
.thead{
    height:40px;
    width: 100%;
    border-bottom:1px solid #e4e3e3 ;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
    display: block;
}
.thead::before{
    width: 60px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
    transition: all 0.5s ease;
}
.thead:hover:before{
    width: 80px;
}
.theadlist{
    float:right;
}
.thead  .theadlist > li{
    float: left;
    margin-right: 15px;
}
.theadlist a{
    color: #333;
}
.three .content{
    margin: 20px ;

}
.three .content li{
    width: 239px;
    height: 245px;
    float: left;
    border-bottom: 1px darkorange solid;
    border-left: 1px darkorange solid;
    padding: 20px;
   transition: all 0.5s;

}
.content li:hover {
    box-shadow: 1px 1px 3px #333;
}
.content li:hover img{
    transform: scale(1.1,1.1);
}

.content li:first-child{
    border-left: none;
}
.content li:nth-child(4){
    border-left: none;
}
.content li:nth-last-child(4)~ li{
    border-bottom: none;
}
h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    margin: 10px;
}
.content .contentp{
    font-size: 13px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3
}

 .symbol {
    font-size: 15px;
    color: #096;
    display: block;
    margin-top: 10px;

}
.content .symbol::before{
  content: '+';
}
.content a:hover{
    color:#00c1de
}
.picture img{
    height: 128px;
    width: 236px;
    overflow: hidden;
}
/*510 280*/
.list li{
    width: 860px;
    height: 197px;
    /*background: #b752dc;*/
    border-bottom: #eee 1px dashed;
}

.blogtitle{
    width: 100%;
    float: left;
}
.list a:hover{
    color: #b752dc;
}
.blogtext{
    display: block;
    width: 600px;
    height: 61px;
    float: left;
    margin: 15px;
}
.blogimg{
    width: 199px;
    height: 124px;
    background: black;
    display: block;
    float: left;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.blogimg:hover img{
    transform: scale(1.1,1.1);

}
.blogimg p{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background: rgba(18,182,221,.8);
    color: white;

}
.list a{
    font-size: 18px;
    color: #000;
}

.blogbottom{
    width: 600px;
    height: 40px;
    margin: 10px;
    /*background: #ba96ff;*/
    float: left;
}
.blogbottom img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
}
.bottomtext{
    float: left;
}
.blogbottom > a:nth-child(2) {
    float: right;
    width: 80px;
    height: 28px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: #12b7de;
    border-radius: 6px;
    text-align: center;

}
/**/
.rightbig{
    display: block;
    float: right;
    width: 284px;
    overflow: hidden;
    padding-top: 20px;
}
.leftbig{
    display: block;
    float: left;
    width: 940px;
    overflow: hidden;
    background: #e9eaed;
}
.shengming{
    display: block;
    background: #373d41;
    height: 120px;
    padding: 40px 0;
    border-top: #00c1de 10px solid ;
}
.neirong{
    display: block;
    height: 120px;
    padding: 0 300px;
}
.neirong a{
    display: block;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 30px;
}
.dongxi{
    display: block;
}
.dongxi h3{
    font-weight: bold;
    color: #00c1de;
}
.dongxi p{
    color: #73777a;
}