body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,a{
    margin: 0;
    padding: 0;
    list-style: none;

}
img{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    background: #E9EAED;
    line-height: 1.5;
    overflow-x: hidden
}
a{
    text-decoration: none;

    color: #fff;

}
/*头部的设计*/
.nav a:hover{
    color:#00c1de ;
}
h1{
    display: inline-block;/*有空格会有间隙，使用浮动*/
}

.header{
    height: 60px;
    width: 100%;
    background: black;

}
.header::before {
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
.headerBox{
    height: 100%;
    width: 1200px;

    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
}
.headerBox h1{
    height: 100%;

    float: left;
    font-size: 26px;
    font-weight: normal;
    margin-right: 75px;
}
.search{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
    float:right;
}
.nav li {
    float: left;
    margin-right: 35px;
}

/*主题部分设计*/
.zhuti{
    width: 1200px;
    margin: 20px auto;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/*左边的设计*/
.left{
    width: 900px;
    min-height: 100px;

    box-sizing: border-box;
}
.left1{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.left .title h1{
    font-size: 16px;
    position: relative;
}
.title h1:before{
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    bottom: -1px;
    transition: all 0.5s ease;
}
.title h1:hover:before{
    width: 150px;
}
.left .title{
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    border-bottom: #e4e3e3 1px solid;
    font-size: 14px;
}
.left .title span a{
    color: #333;
}
.left .jianjie {
    display: flex;

}
.left .jianjie  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #b752dc;

}
.left .jianjie span{
    margin: 0 5px;
}
.left .jianjieshuo b{
    margin-right: 10px;
    color: #000;
}
.jianjieshuo{
    color: #888888;
    border: 1px solid #F3F3F3;
    padding: 10px;
    margin: 10px auto 0;
    line-height: 23px;
    background: none repeat 0 0 #F6F6F6;
}
.context {

}
.context .zhuanzai span{


}

.context img{
    width: 600px;
    height: 642px;
    display: table-cell;
   vertical-align: middle;
   text-align: center;
    margin: auto;
}
.context .er{
    width: 650px;
    height: 346px;
}
.context .button{
    display: block;
    background: #FF6600;
    height: 40px;
    width: 160px;
    margin: 20px auto;
}
.context .button p{
    text-align: center;
    line-height: 40px;
}
.context .nextinfo p{
    margin: 10px 0;
}

.content{
    margin: 20px ;

}
.content li{
    width: 160px;
    height: 185px;
    float: left;
    padding: 20px;
    transition: all 0.5s;
    margin-bottom: 20px;

}

.content li:hover img{
    transform: scale(1.1,1.1);
}

.content li:first-child{
    border-left: none;
}
.content li:nth-child(4){
    border-left: none;
}
.content li:nth-last-child(4)~ li{
    border-bottom: none;
}
h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    margin: 10px;
}
.content .contentp{
    font-size: 13px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3
}

.symbol {
    font-size: 15px;
    color: #096;
    display: block;
    margin-top: 10px;

}
.content .symbol::before{
    content: '+';
}
.content a:hover{
    color:#00c1de
}
.picture img{
    height: 98px;
    width: 160px;
    overflow: hidden;
}
/**/
.right{
    width: 260px;
    min-height: 100px;
    box-sizing: border-box;
}
.right .dianji{
    margin-bottom: 20px;
    padding: 20px 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
}
.right h1{
    width: 100%;
    padding-bottom: 5px;
position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: normal;
}
.right h1:before{
    width: 50px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
    transition: all 0.5s ease;
}
.right h1:hover:before{
    width: 100px;
}
.right .bigpic img{
    width: 220px;
    height: 100px;
    margin: 0 auto 15px;
    transition: 0.5s ease-in all;
}
.right .dianji .bigpic{
    overflow: hidden;
}
.right .bigpic img:hover{
    transform: scale(1.1,1.1);
}
.right .paihang li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.right .paihang a{
    color: #333;
    font-size: 15px;
}
.right .paihang i{
    display: block;
    width: 16px;
    height: 16px;
    background: #FF6600;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    position: relative;
    font-style: normal;
}
.right .paihang i:before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #fff;
    line-height: 16px;
    width: 16px;
    text-align: center;

}
.right .paihang  :first-child i:before{
    content: "1";
}
.right .paihang  :nth-child(2) li{
    background: #f6f6f6
}
.right .paihang  :nth-child(2) i:before{
    content: "2";
}
.right .paihang :nth-child(3) i:before{
   content: "3";
}
.right .dianji li{
    overflow: hidden;
    margin-bottom: 10px;

}
.right .dianji li img{
    width: 70px;
    height: 70px;
    float: left;
}
.right .dianji li p{

    margin-top: 10px;
}

/**/
.drightpic{
    margin: 20px 0;
    float: right;
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.message a{
    color: #333333;
}
.message li{

    font-size: 13px;
    line-height: 1.5;
    position: relative;
    display: block;
    padding: 0 20px;
}
.like li::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    left: 4px;
    top: 9px;

}
.message{
    display: block;
    padding: 0 20px 10px;
     border-radius: 5px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.message b{

    display: block;
    float: left;
}
.message a{

}
.message li{
    margin-top: 10px;
    margin-bottom: 8px;
}
.message h1{
    height: 40px;
    font-size: 16px;
    font-weight:normal;
    line-height: 41px;
    display:block;
    border-bottom: 1px solid #e4e3e3;
    position: relative;
}
.message h1:before{
    width: 60px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
    transition: all 0.5s ease;
}
.message h1:hover:before{
    width: 80px;
}
.erweima{
    width: 193px;
    height: 193px;
    margin: auto;
}

/**/
.shengming{
    display: block;
    background: #373d41;
    height: 120px;
    padding: 40px 0;
    border-top: #00c1de 10px solid ;
}
.neirong{
    display: block;
    height: 120px;
    padding: 0 300px;
}
.neirong a{
    display: block;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 30px;
}
.dongxi{
    display: block;
}
.dongxi h3{
    font-weight: bold;
    color: #00c1de;
}
.dongxi p{
    color: #73777a;
}