body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,a{
    margin: 0;
    padding: 0;
    list-style: none;

}
img{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    background: #E9EAED;
    line-height: 1.5;
    overflow-x: hidden
}
a{
    text-decoration: none;

    color: #fff;

}
/*头部的设计*/
.nav a:hover{
    color:#00c1de ;
}
h1{
    display: inline-block;/*有空格会有间隙，使用浮动*/
}

.header{
    height: 60px;
    width: 100%;
    background: black;

}
.header::before {
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
.headerBox{
    height: 100%;
    width: 1200px;

    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
}
.nav li{
    float: left;
    margin-right:  35px;
}
.headerBox h1{
    height: 100%;

    float: left;
    font-size: 26px;
    font-weight: normal;
    margin-right: 75px;
}
.search{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
    float:right;
}
/*主体部分*/
.zhuti{
    width: 1200px;
    min-height: 400px;
    margin: 20px auto;
    display: block;
    padding: 30px;
    background: url("meng1.jpg")no-repeat right top #fff;
}
.zhuti h1{
    height:40px;
    width: 100%;
    border-bottom:1px solid #e4e3e3 ;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    font-size: 15px;
}
.zhuti h1:before{
    width: 60px;
    height: 2px;
    position: absolute;
    background: #000;
    content: "";
    display: block;
    bottom: -1px;
    transition: all 0.5s ease;
}
.zhuti h1:hover:before{
    width: 80px;
}
.list span{
    position: relative;
    line-height: 32px;
    padding-right: 40px;
    color: #999;
}
.list span:after{
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #e0dfdf;
    right: 18px;
}
.list i{
    position: relative;
    font-style: normal;

}
.list i:before{
    content: " ";
    height: 10px;
    width: 10px;
    border: 2px solid #cccaca;
    background: #fff;
    position: absolute;
    top: 4px;
    left: -26px;
    border-radius: 50%;
}
.list a{
    color: #333;
}
/*dibu*/
.shengming{
    display: block;
    background: #373d41;
    height: 120px;
    padding: 40px 0;
    border-top: #00c1de 10px solid ;
}
.neirong{
    display: block;
    height: 120px;
    padding: 0 300px;
}
.neirong a{
    display: block;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 30px;
}
.dongxi{
    display: block;
}
.dongxi h3{
    font-weight: bold;
    color: #00c1de;
}
.dongxi p{
    color: #73777a;

}